{% extends "admincuration/header.html" %}
{% block content %}
	{% if request.user.is_authenticated %}
		<!--navbar-->
		<nav class="navbar navbar-default " style="background-color: #e3f2fd;">
			<div class = "continer">
				<div class = "row">
					<div class = "col-sm-2">
						<form method="post" action={% url 'index' user_id %}>
					     	{% csrf_token %}
							<select class="form-control" class="selectpicker" name="selector" onchange="reply_select()"  style="margin-top:8px">
								<option value=-1 >All topics</option>
								{% for topic in topics %}
									{% if topic.pk in user_topic_set %}
										{% if select_topic == topic.pk %}
											<option value={{topic.pk}} selected>{{topic.topic}}</option>
										{% else %}
											<option value={{topic.pk}} >{{topic.topic}}</option>
										{% endif %}
									{% endif %}	
								{% endfor %}
							</select>
							<input id="select_button" style="display: none;" type="submit" value="Select">
						</form>
					</div>
					
					<div class = "col-sm-2">
						<form method="post" action={% url 'index' user_id %} class="form-inline">
				     		{% csrf_token %}
							<label for="items_per_page" style="margin-top:14px">Items</label>
				     		<select class="form-control" id="items_per_page" name="items_per_page" onchange="reply_items()"  style="margin-top:2px">
								<option value="10" >10</option>
								<option value="25" >25</option>
								<option value="50" >50</option>
								<option value="100" >100</option>
							</select>
							<input id="items_per_page_button" style="display: none;" type="submit" value="Submit">
						</form>
					</div>
					
					<div class = "col-sm-3">
						<ul id="navbar_ul"  class="nav navbar-nav">
					       		<li id="0" ><a href = "#">To Do</a></li>
					       		<li id="1" ><a href = "#">Submitted</a></li>
					       		<li id="2" ><a href = "#">Undecided</a></li>
				       	</ul>
						<form id="navbar_form" method="post" action={% url 'index' user_id %} style="display:none">
					     	{% csrf_token %}
				    		<input type="radio" value="0" name="navbar"/>
				    		<input type="radio" value="1" name="navbar"/>
				    		<input type="radio" value="2" name="navbar"/>
				       		<input id="navbar_button" style="display: none;" type="submit" value="Submit">
			       		</form>
				    </div>
				    
				    <div class = "col-sm-3">
				    	<div id="welcome">Welcome,  {{user.username}}</div>
				    </div>
				    
				    <div class = "col-sm-2">
					    <ul class="nav navbar-nav"> 
							 <li> <a href="/logout/"> Log Out </a></li>
						</ul>    
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
			You have <span id="assign_count">{{count}}</span> assigments:
			<div id="display">
				<table id='data_table' class='table table-hover'>
					{% if nav == 2 or nav == 0 %}
						<thead><tr><th>Accession</th><th>Title</th><th>Keywords</th></tr></thead>
    	        		<tbody>
    	        		    {% for c in  curation %}
    	        				{% for data in dataset %}
    	        					{% if select_topic < 0 %}
    	        						{% if data.id == c.data_id_id %}
    	        							<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td></tr>
    	        						{% endif %}
    	        					{% else %}
    	        						{% if  data.id == c.data_id_id and c.topic_id_id == select_topic %}
    	        							<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td></tr>
										{% endif%}
    	        					{% endif %}
    	        				{% endfor %}
    	        			{% endfor%}
			  			</tbody>
					{% else %}
						<thead><tr><th>Accession</th><th>Title</th><th>Keywords</th><th>Result</th></tr></thead>
						<tbody>
						{% for c in  curation %}
       						{% for data in dataset %}
       							{% if select_topic < 0  %}
	    	 						{% if data.id == c.data_id_id %}
	    	 							{%  if c.result == 'Y' %}
	    	 								<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td><td>Yes</td></tr>
		    	 						{% elif c.result == 'N'%}
	    	 	  							<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td><td>No</td></tr>
										{% elif c.result == 'U'%}
											<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td><td>Undecided</td></tr>
	    	 							{%  endif %}
	    	 						{% endif %}
	    	 					{% else %}
	    	 						{% if data.id == c.data_id_id and data.topic == select_topic %}
	    	 							{%  if c.result == 'Y' %}
	    	 								<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td><td>Yes</td></tr>
	    	 							{% elif c.result == 'N'%}
	    	 								<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td><td>No</td></tr>
										{% elif c.result == 'U'%}
											<tr><td>{{data.accNo}}</td><td align='left'><a href ='/curator/{{user_id}}/dataset/{{data.id}}/{{c.id}}'>{{c.data_id}}</a></td><td>{{data.keywords}}</td><td>Undecided</td></tr>
		    	 						{%  endif %}
	    	 						{% endif %}
	    	 					{% endif %}
    	  					{% endfor %}
    	  				{% endfor%}
			  			</tbody>
					{% endif %}
				</table>
			</div>
			
			<!--Pagination at back-end-->
			{% if dataset.has_other_pages %}
				<ul class="pagination">
					<!--{% if dataset.has_previous %}-->
					<!--	<li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>-->
					<!--{% else %}-->
					<!--	<li class="disabled"><span>&laquo;</span></li>-->
					<!--{% endif %}-->
					{% for i in dataset.paginator.page_range %}
						{% if dataset.number == i %}
							<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
						{% else %}
							<li><a href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}
					<!--{% if dataset.has_next %}-->
					<!--	<li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>-->
					<!--{% else %}-->
					<!--	<li class="disabled"><span>&raquo;</span></li>-->
					<!--{% endif %}-->
				</ul>
			{% endif %}
		</div>

<script>
	
	$(document).ready(function() {
		var count = ' {{count}}';
		
		if('{{nav}}' == 0)
			$("#assign_count").text(count);
		else if('{{nav}}' == 1)
			$("#assign_count").text(count+" submitted ");
		else
			$("#assign_count").text(count+" undecided ");
		
		//highlight navbar 
		var navbarId = '{{nav}}';
		//console.log(navbarId);
		$("#navbar_ul").find("li.active").removeClass("active");
		$("#navbar_ul").find("li#"+navbarId).addClass("active");
		
	    $("#navbar_ul li").on("click", function() {
			//check the radio button
			var li_id = $(this).attr('id');
			$("form#navbar_form").find("input[name='navbar'][value='"+li_id+"']").prop('checked',true)
			$("#navbar_button").click();
	    });
	  //  {% if messages %}
			// <ul class="messages">
			//     {% for message in messages %}
			//     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			//     {% endfor %}
			// </ul>
			// {% endif %}
	    //keep user selected items per page
	    //console.log("items_per_page: "+'{{items_per_page}}');
	    var items_per_page = '{{items_per_page}}';
	    $("select#items_per_page").find("option[value="+items_per_page+"]").prop('selected','selected');
	   
	});	
	
	//button click(post topic selection)
	function reply_select()
	{
		$("#select_button").click();
	}
	
	//button click(post items per page)
	function reply_items() 
	{
		$("#items_per_page_button").click();
	}
	
	

   </script>


{% else %}
<p>You must login first</p>
{% endif %}
{% endblock %}		
